$headerHeight: 128px;

.page-content-decor {
	position: fixed;
	display: block;
	left: 34px;
	top: $headerHeight;
	bottom: 32px;
	content: '';
	width: 9px;
	background-image: linear-gradient(180deg, rgba(97, 97, 97, 0) 0%, #616161 51.56%, rgba(97, 97, 97, 0) 100%);
	&::before,
	&::after {
		position: absolute;
		left: -1.5px;
		top: 25%;
		content: '';
		width: 12px;
		height: 151px;
		background-position: center;
		background-repeat: no-repeat;
	}
	&::before {
		background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, #ffffff 100%);

		filter: blur(10px);
	}
	&::after {
		background-image: url('../../assets/images/icons/game-page-decor2.svg');
	}
}
