.button-marketplace {
	display: inline-block;
	font-family: 'Jura';
	font-weight: 700;
	font-size: 28px;
	line-height: 33px;
	color: #ffffff;
	text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.7);
	text-decoration: none;
	padding: 39px 50px;
	background-image: url('../../../assets/images/button-marketplace-bg.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: color 0.25s;
	user-select: none;
	@media (any-hover: hover) {
		&:hover {
			color: #383838;
		}
	}
	@media (max-width: 650px) {
		font-size: calc(2vw * 2.2);
		line-height: calc(2vw  * 2.4);
		padding: calc(2vw  * 2.73) calc(2vw  * 2.5);
	}	
}
